.s1{font-size: 1.06rem;}
.s2{font-size:0.938rem;}
.s3{font-size: 0.875rem;}
.s4{font-size:0.813rem;}
.s5{font-size: 0.625rem;}

html,body{
	height: 100%;
}
body{
	overflow:hidden;
}
.main{
	display: flex;
    height: 100%;


}

.class1-l{
	background-color: #f6f6f6;
	height: 90%;
	min-width: 26.3%;
	overflow: scroll;

}
.class1-l li{
	padding: 1.25rem ;
}


.class2-l{
	padding: 1.188rem 0 1.188rem 0.9rem;
	height: 80%;
	overflow: scroll;
}

.class2-l img{
	width: 4.22rem;
	display:block;
	margin: 0 auto;
	margin-bottom: 0.4rem;
}

.class2-l li{
	width: 33.3333%;
	margin-bottom: 0.4rem;
}

.class2-l span{
	text-align: center;
	display: inline-block;
	width: 90%;
	line-height: 1rem;
}

.class1:first-child{
	border-left: solid 1px #d43c33;
	color: #d43c33;
	background-color: white;
}
.classification{
	color: #d43c33;
}


.class2 ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.188rem;

}

.class2 h1{
	margin-bottom: 1.188rem;
}