

/*头部*/
header{
	height: 2.81rem;
	background-color: #d43c33;
	color: white;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.969rem;
}
.left{
	position: absolute;
}
.center{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.right{
	position: absolute;
	right: 0.969rem;
}

.blow-header{
	margin-top: 2.81rem;
}
.icon-arrowleft:before,.icon-home:before{
	font-size: 1.25rem;

}

/*底部导航*/
.nav{
	color: #989898;
	border-top: solid 1px #989898;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}
.nav ul{
	display: flex;
	padding: 0.563rem 0.969rem 0.344rem 0.969rem;
	justify-content: space-between;
}

.nav-list{
	width: 20%;
	text-align: center;

}
.nav-list:hover{
	color: #d43c33;
}
.nav-list span{
	display: block;
	text-align: center;
}

.nav-list .iconfont:before{
	font-size:1.56rem;
}

/*去除点击时的阴影*/
.nav-list{
-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

}
/*字体*/
@font-face{
	font-family: pingfang;
	/*font-family: Microsoft YaHei;*/
	src:url('font/changsongjian.ttf');
}

body,input{
	font-family: SimHei;
}
.webfont-loaded body {
font-family: pingfang;
}
input{font-size: inherit;}
.text-33{font-size: 0.92rem;}
.text-29{font-size:0.8rem;}
.text-27{font-size: 0.75rem;}
.text-23{font-size: 0.64rem;}
.text-22{font-size: 0.61rem}
.text-21{font-size: 0.58rem;}
.text-18{font-size: 0.5rem;}
.text-C80{color:#808080;}
.text-c9080b{color:#c9080b;}
.text-c67{color:#676767;}
.score{color: #ff9422;}
.flex-row{display: flex;justify-content: space-between;align-items: center;}
.flex-column{display: flex;flex-direction:column;align-items: flex-start;}