

/*头部*/
header{
	height: 2.81rem;
	background-color: #d43c33;
	color: white;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.969rem;
}
.left{
	position: absolute;
}
.center{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.right{
	position: absolute;
	right: 0.969rem;
}

.blow-header{
	margin-top: 2.81rem;
}
.icon-arrowleft:before,.icon-home:before{
	font-size: 1.25rem;

}

/*底部导航*/
.nav{
	color: #989898;
	border-top: solid 1px #989898;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}
.nav ul{
	display: flex;
	padding: 0.563rem 0.969rem 0.344rem 0.969rem;
	justify-content: space-between;
}

.nav-list{
	width: 20%;
	text-align: center;

}
.nav-list:hover{
	color: #d43c33;
}
.nav-list span{
	display: block;
	text-align: center;
}

.nav-list .iconfont:before{
	font-size:1.56rem;
}

/*去除点击时的阴影*/
.nav-list{
-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

}
/*字体*/
@font-face{
	font-family: pingfang;
	src:url('font/PingFang Regular.ttf');
}

body{
	font-family: pingfang;
}