
body{
	background-color: #f5f5f5;
}
header,.nav-outer,.banner,.module{background-color: white;}
/*header部分*/
/*banner*/
header{
	z-index: 2;
}

.price{
	text-align: left;
}
/*导航*/
.nav-outer{
	padding-top: 1.375rem;
	margin-bottom: 0.313rem;
}
.nav-outer ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-item{
	display: flex;
	flex-direction: column;
	width: 25%;
	align-items:center;
	margin-bottom: 0.781rem;
}
.nav-item span{
	line-height: 1.5rem;
}
.nav-item img{
	width: 2.344rem;

}
/*banner轮播*/
.islider-active{
	
}
.islider-prev{
	/*display: none;*/

}

/*电影*/
.module{
	/*padding: 0.719rem 0;*/
	padding-right: 0;
	padding-bottom: 1.563rem;
	/*margin-bottom: 0.156rem;*/
}
.module h1{
	font-weight: bold;
}
.movie-wrapper .title,.guess-wrapper .title{
	border-top: none;
}
.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.719rem;
	margin-bottom: 0.719rem;
	padding-right: 0.688rem;
	margin-left: 0.688rem;
	border-top: solid 0.156rem #f5f5f5;
}
.more .iconfont{vertical-align: middle;}

.hot-outer{
	display: flex;
	/*overflow:scroll;*/
	margin-left: 0.688rem;
}
.hot-item{
	width: 6.563rem;
	margin-right: 0.688rem;
	flex-shrink: 0;
	background-color: #f8f8f8;
	padding-bottom: 0.625rem;
}

.hot-item img{
	width: 100%;
}
.name{
	width: 100%;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}
.name,.grade{
	padding: 0 0.469rem;
}

.grade{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: grey;
	
}

.star{
	height: 0.688rem;
	width: 4.0625rem;
	background-image: url(../images/grey-star.png);
	background-repeat: repeat-x;
	background-size: 0.8125rem;
	background-position: 0 50%;
	position: relative;
	overflow: hidden;
}
.grade span{font-size: 0.6rem;}

.light-star{
	width: 3.65625rem;
	height: 100%;
	position: absolute;
	left: 0;
	background-image: url(../images/light-star.png);
	background-repeat: repeat-x;
	background-size: 0.8125rem;
	background-position: 0 50%;
	overflow: hidden;
	}

	/*演出*/
	.price{
		padding: 0 0.469rem;
		color: #9f2226;
		font-size: 0.625rem;
	}

	/*图书*/
	.book-item{
		background-color: inherit;
	}

	/*商城*/
	.mall-item{
		width: 60.44%;
		margin-right: 0.625rem;
		flex-shrink: 0;
	}
	.mall-item img{
		width: 100%;
	}
	.good-info{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.good-price{
		padding-right: 0;
	}

	.good-sketch{
		color: grey;
	}
	.mall-wrapper.hot-wrapper,.mall-wrapper.hot-wrapper{
		margin-bottom: 0.313rem;
	}

	/*猜你喜欢*/
	.guess-outter{
		display: flex;
		margin:0 0.688rem;
		width: 100%;
		box-sizing: border-box;
		flex-wrap: wrap;
		border-top: solid 1px #d9d9d9; 
		overflow: hidden;
		height: 14.719rem;
	}
	.guess-wrapper.module{
		padding-left: 0;

	}
	.guess-wrapper .title{padding-left: 0.688rem;}
	.line{
		width: 100%;
		
		border-bottom: solid 1px #d9d9d9; 
		flex-shrink: 0;
	}
	.guess-item{
		width: 32%;
		box-sizing: border-box;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: solid 1px #d9d9d9; 
		margin-top: 0.875rem;
	}
	.guess-item img{
		width: 5.094rem;
	}
	.last{
		border: none;
	}

	/*限时抢购*/
	.limit-title{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 0.719rem;
		padding-right: 0.688rem;
	}
	.limit-title h1{
		margin-right: 0.781rem;
	}
	.countdown span{
		display: inline-block;
		width: 1.5rem;height: 1.5rem;
		text-align: center;
		color: white;
		background-color: black;
		border-radius: 100px;
		line-height: 1.5rem;
		font-size: 0.8rem;
		font-weight: bold;

	}
	.limit-wrapper{
		box-sizing: border-box;
		padding: 0 0.688rem;
		padding-top: 0.719rem;
	}
	#limit-title{
		justify-content: flex-start;
	}
	.limit-item{
		width: 33.3%;
		flex-shrink: 0;
		margin-right: 0.313rem;

	}
	.limit-item img{
		width: 100%;
	}
	.limit-outer{
		padding-bottom: 1.281rem;
	}
	.limit-outer.hot-outer{
		margin-left: 0;
	}
	/*运动场馆*/
	.sport-outer{
		
	}
	.sport-item{
		width: 96.69%;
	}
	.sport-item img{
		width: 100%;
	}
	.sport-info{
		display: flex;
		align-items: center;
	}
	.sport-info span{
		color: #990d18;
		border: solid 1px #990d18;
		border-radius: 3px;
		margin-left: 0.781rem;
		padding: 0 0.25rem;
	}
    /*温泉*/
    .sport.hot-wrapper{
    	margin-bottom: 0.313rem;
    	padding-bottom: 1.094rem;
    }
    .spring-wrapper.hot-wrapper{
    	margin-bottom: 3.45rem;
    }
    .sport-outer{
    	
    }
    .spring-wrapper .title{border-top: none;}
	/*底部导航*/
	.nav{
		border-top: solid 1px #e2e2e2;
		height: 3.2rem;
		box-sizing: border-box;
		z-index: 100;
	}
	.nav ul{
		padding-top: 0.2rem;
	}




	/*商品轮播*/
	.mall-wrapper{
		height: 13.625rem;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
	}
	.mall-outer{
		height: 100%;
		/*overflow: hidden;*/
	}
	.mall-item{
		/*position: absolute;*/
		/*margin-left: 0.75rem;*/
		/*left: 0;*/
		/*transition: transform 0.2s;*/

	}
	.pre{
		/*transform: translateX(-375px);*/
		
	}
	.active{
		/*transform: translateX(0);*/
	
	}
	.next{
		/*transform: translateX(240px);*/

	}