
.s1{font-size: 1.25rem;}
.s2{font-size:1.1rem;}
.s3{font-size: 1rem;}
.s4{font-size: 0.9rem;}


.icon-arrowleft:before,.icon-home:before{
	font-size: 1.25rem;
}
.banner{
	height: 9.375rem;
	background-image: url('../images/banner.png');
	background-size: cover;
}
.classification{
	background-color: white;
	
}
.classification ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0 0.969rem;
	justify-content: space-between;

}
.sort-list img{
	display: block;
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
	margin-bottom: 0.75rem;
}
.sort-list{
	width: 5rem;
	padding: 0.938rem 0;
	text-align: center;

}
.sort-list:nth-child(4){
	margin: 0;
}

/*推荐部分*/

.recommendation{
	background-color: #f9f9f9;
	border-top: solid 1px #e2e2e2;
	padding-top: 0.625rem;
	border: solid 1px transparent;
}
.tip-list{
	background-color: white;
	padding: 0 0.969rem;
	margin-bottom: 0.625rem;
}

.tip-list h1{
	text-align: center;
	padding: 0.938rem 0;
	font-size: 1.1rem;
}
.icon-zuo:after{
	margin-left: 0.5rem;
}
.tip-list-images{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tip-list img{
	display: inline-block;
	width: 10.47rem;
	height: 10.47rem;
	margin-bottom: 0.6rem;
}


