body{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
}

h1{
	font-weight: inherit;
	margin: 0;
}
p{
	margin: 0;
}
button{
	background-color: inherit;
	border: none;
	font-size: inherit;
	margin: 0;
}
